/* ---------- MAIN ---------- */

html{
	font-size: 62.5%;
	font-family: Helvetica, Arial;
  height: 100%;
}

nav, button, #ober, #reserveer_lnk, #naarBoven, #restaurant, #results th, #results_bevestigen th, h3, label, h2, h1, #logo, #login_btn_google, #login_btn_fb{
  font-family: 'Source Sans Pro';
}

a, p, li{
  font-size: 1.2rem;
}

h1{
  margin: 20px 0 20px 15px;
  font-size: 3rem;
  color: #4c1b1b;
  font-weight: 400;
}

h2{
  margin: 25px 15px 20px 15px;
  padding-bottom: 5px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #e37227;
  border-bottom: 1px solid #e2d2c7;
}

p{
  margin: 0 15px;
  line-height: 1.8rem;
  color: #84827a;
}

#naarBoven{
  width: 70px;
  height: 35px;
  display: block;
  color: white;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 35px 35px 0 0;
  text-indent: -9999px;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  background: url(../images/arrow_up.png) no-repeat center #4c1b1b;
}

/* ---------- HEADER ---------- */

#headerOuter{
  background-color: #4c1b1b;
  border-bottom: 8px solid #331313;
}

#headerInner{
  height: 100px;
  background-image: url(../images/bg_header.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  padding-top: 20px;
  
}

#logo{
  display: block;
  color: white;
  font-size: 2.0rem;
  text-decoration: none;
  background: url(../images/logo_icon.png) no-repeat top center;
  text-align: center;
  padding-top: 30px;
  width: 60%;
  margin: 0 20%;
  margin-top: 10px;
}

nav{
  display: none;
}

nav ul{
  overflow: hidden;
}

nav ul li{
  float: left;
  width: 100%;
}

nav ul li a:link,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active{
  font-weight: 400;
  background-color: #e37227;
  border-bottom: 1px solid #dd5b1f;
  border-top: 1px solid #e9892f;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  text-align: center;
  display: block;
  padding: 20px 0;
}

nav ul li a:hover{
  background-color: #dd5b1f;
}

nav ul li a.selected{
  background-color: white;
  color: #4c1b1b;
  border: none;
}

#logout_btn{
  background-color: #331313;
  border: none;
}

#nav_toggle:link,
#nav_toggle:visited,
#nav_toggle:hover,
#nav_toggle:active{
  text-indent: -9999px;
  display: block;
  width: 44px;
  height: 44px;
  float: right;
  position: relative;
  top: -38px;
  left: -20px;
  background: url(../images/nav_toggle.png) no-repeat center;
  border-radius: 4px;
}

#nav_toggle:hover{
    background-color: #331313;
}

#ober:link,
#ober:visited,
#ober:hover,
#ober:active{
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  display: block;
  float: left;
  position: relative;
  top: -38px;
  left: 20px;
  background: url(../images/bell_icon.png) no-repeat center left 10px;
  border-radius: 4px;
  padding: 15px 8px 15px 36px;
}

#ober:hover{
  background-color: #331313;
}






/* ---------- RESTAURANT ---------- */

ul.list{
  margin: 0 15px;
  color: #84827a;
}

ul.list li{
  margin-top: 12px;
}

/* OPENINGSUREN TABEL */

table{
  margin: 0 15px;
  font-size: 1.2rem;
  color: #84827a;
}

th{
  text-align: left;
  color: #4c1b1b;
  padding: 5px;
  min-width: 80px;
}

td{
  min-width: 80px;
}

/* ---------- LOGIN PAGINA ---------- */

body#loginpage{
    background-color: #4c1b1b;
    border-top: 25px solid #331313;
    background: url(../images/bg_login.png) no-repeat bottom center #4c1b1b;
    background-size: 180%;
    text-align: center;
  }

#loginlogo{
  display: block;
  width: 200px;
  height: 50px;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat center;
  margin: 0 auto;
  margin-top: 50px;
}

#logintitle{
  color: white;
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}

#login_btn_fb:link,
#login_btn_fb:visited,
#login_btn_fb:hover,
#login_btn_fb:active{
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  display: block;
  padding: 20px 20px 20px 40px;
  margin: 0 auto;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #1f2f52;
  box-shadow: 0px 3px 0px #243a68;
  margin-top: 40px;
  background: url(../images/fb_icon.png) no-repeat left 15px center #3b5999;
  width: 155px;
}

#login_btn_fb:hover{
  background-color: #415e9d;
}

#login_btn_google:link,
#login_btn_google:visited,
#login_btn_google:hover,
#login_btn_google:active{
  color: #de4732;
  text-decoration: none;
  font-size: 1.6rem;
  display: block;
  padding: 20px 20px 20px 40px;
  margin: 0 auto;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #e4e4e4;
  box-shadow: 0px 3px 0px #b9b9b9;
  margin-top: 20px;
  width: 155px;
  background: url(../images/googleplus_icon.png) no-repeat left 15px center #f3f3f3;
}

#login_btn_google:hover{
  background-color: white;
}



/* ---------- RESERVEREN ---------- */

#form_reserveren{
  background-color: #f0e6c9;
}

label{
  display: block;
  font-size: 1.6rem;
  color: #4c1b1b;
  margin: 10px 0 5px 0;
}

#form_reserveren input{
  width: 100%;
  display: block;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #dacea8;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#form_reserveren select{
  width: 50px;
  border: 1px solid #dacea8;
  border-radius: 4px;
  color: #4c1b1b;
  padding: 6px;
  float: left;
  background-color: white;
}

#results_select{
  width: 80px;
 border-radius: 4px;
  border: 1px solid #f0e6c9;
  height: 20px;
  color: #4c1b1b;
  padding: 0 5px;
  display: inline-block;
}

.hide{
  display: none;
}

button#controleer_btn{
  display: block;
  padding: 15px;
  width: 100%;
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
  border: none;
  border-bottom: 2px solid #d26116;
  background-color: #e37227;
}

button#controleer_btn:hover{
  background-color: #dd5b1f;

}

.padding{
  padding: 15px;
  overflow: hidden;
}

.alert{
  font-size: 14px;
  color: #ad3030;
  background-color: #edb5b5;
  border: 1px solid #d58585;
  padding: 15px;
}

.feedback{
  font-size: 14px;
  color: #6cac60;
  background-color: #c3e59b;
  border: 1px solid #6cac60;
  padding: 15px;
}


/* RESERVEER RESULTATENTABEL */

table#results{
  width: 100%;
    margin: 0;
}

table#results tr{
  border: 1px solid #f0e6c9;
}

table#results th{
  font-size: 1.4rem;
  color: #4c1b1b;
  font-weight: 400;
  padding: 15px;
  background-color: #f0e6c9;
  text-align: left;
  vertical-align: middle;
}

table#results td{
  padding: 15px;
  font-size: 1.2rem;
  color: #4c1b1b;
}

#reserveer_lnk,
#reserveer_lnk:visited,
#reserveer_lnk:hover,
#reserveer_lnk:active{
  background-color: white;
  width: 100%;
  font-weight: 400;
  font-size: 1.4rem;
  color: white;
  border: none;
  text-decoration: none;
  float: right;
  width: 100px;
  padding: 14px 15px 12px 15px;
  color: #4c1b1b;
}

#reserveer_lnk:hover{
  border-bottom: 2px solid #d26116;
  background-color: #e37227;
  color: white;
}

table#results th.nopadding{
  padding: 0;
}

table#results th.white{
  background-color: white;
}

table#results_bevestigen{
  width: 100%;
  margin: 0;
}

table#results_bevestigen tr{
  border: 1px solid #f0e6c9;
}

table#results_bevestigen th{
  font-size: 1.4rem;
  width: 80px;
  color: #4c1b1b;
  font-weight: 400;
  padding: 15px;
  background-color: #f0e6c9;
  text-align: left;
  vertical-align: middle;
}

table#results_bevestigen td{
  padding: 15px;
  font-size: 1.2rem;
  color: #4c1b1b;
}


/*------------MENU PAGINA -------- */

ul.gerechten li{
  color: #84827a;
  padding: 15px;
  line-height: 2rem;
}

ul.gerechten li:hover{
  background-color: #f0e6c9;
}

.prijs{
  color: #4d1b1b;
  float: right;
}









/*------------MEDIA QUERIES -------- */

@media only screen and (min-width:600px){

  #logo{
    font-size: 2.4rem;
  }
  
  #nav_toggle:link,
  #nav_toggle:visited,
  #nav_toggle:hover,
  #nav_toggle:active{
    display: none;
  }

  nav{
  display: block;
  }

  nav ul li{
    width: 25%;
  }

  nav ul li a:link,
  nav ul li a:visited,
  nav ul li a:hover,
  nav ul li a:active{
    border: none;
    border-right: 1px solid #dd5b1f;
    border-left: 1px solid #e9892f;
  }

  nav ul li a.selected{
    border: 0;
  }

  body#loginpage{
    background-size: contain;
  }

  button#controleer_btn{
    width: 150px;
    float: right;
  }

  #form_reserveren{
    overflow: hidden;
  }

  .padding{
    float: left;
    padding: 10px 10px 10px 15px;
  }

  label{
  display: inline-block;
  float: left;
  margin-right: 10px;
  }


  #form_reserveren input{
    float: left;
    width: 200px;
    margin-right: 20px;
  }

  #form_reserveren select{
    float: left;
  }

}

@media only screen and (min-width:960px){

  #ober:link,
  #ober:visited,
  #ober:hover,
  #ober:active{
    left: 0;
  }

  nav ul li{
    width: auto;
  }

  nav ul li a:link{
    padding: 15px 20px;
  }

  #headerInner, #content{
    width: 960px;
    margin: 0 auto;
  }

  h1, h2, p, table, ul.list{
    margin-left: 0;
    margin-right: 0;
  }

  nav{
    width: 960px;
    margin: 0 auto;
  }

  #navOuter{
    background-color: #331313;
  }

  #logout_btn{
    float: right;
  }

}